
@{
    ViewBag.Title = "Index";
}
<div class="" align="center">
<a href="/Student/ProfileManage" ><img src="~/Images/UserProfile.png"></a>
    <img src="~/Images/Blank.png">
<a href="/Student/QuizStarter" ><img src="~/Images/StartQuiz.png"></a>
    <br>
<a href="/Student/SearchTeacher" ><img src="~/Images/Search.png"></a><br>
<a href="/Student/Report" ><img src="~/Images/Report.png"></a>
    <img src="~/Images/Blank.png">
<a href="/Student/Download" ><img src="~/Images/Download.png"></a>
    </div>